    {% if page.title  %}
      <title>{{ page.title }} | Carl Poppa </title>
      <meta property="og:title" content="{{ page.title }} | Carl Poppa">
    {% else %}
      <title>Test Page: Don't Panic</title>
      <meta property="og:title" content="Test Page: Don't Panic">
    {% endif %}

    {% if page.description %}
      <meta property="og:description" content="{{ page.description }}">
    {% else %}
      <meta property="og:description" content="This is Carl Poppa's learning page.">
    {% endif %}

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://poppacalypse.github.io/">
    <meta property="og:site_name" content="POPPACALYPSE">

    <link rel="icon" href="/favicon.png">
    <link rel="apple-touch-icon" href="/favicon.png"> <!-- at least 180px squared -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/fonts/fontawesome-free-5.13.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
